{% extends "base.html" %}
{% include 'navbar.html' %}

{% block meta %}
    <title>Menu Steak</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock meta %}

{% block content %}
<div class="flex container items-center align-center mx-auto flex-col"> 
    <div class="filter-box">
        <form id="filterForm" class="filter-form" method="GET" onsubmit="submitFilterForm()">
            {{ form.as_p }}
            <button type="submit" class="filter-btn">Filter</button>
        </form>            
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 px-4 md:px-0">
    {% for menu in explore %}
        <div class="max-w-md rounded overflow-hidden shadow-lg bg-white relative border">
            <div class="relative">
                <img class="w-full h-64 object-cover" src="{{ menu.image }}" alt="{{ menu.menu }}">
                <a href="{% url 'explore:menu_detail' menu.id %}" class="see-details-button bg-[#3992C6] hover-bg-[#247FB8] text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    See Details
                </a>
            </div>
            <div class="px-4 md:px-6 py-4">
                <div class="text-xl text-blue-500 font-inter font-bold mb-2">
                    {{ menu.menu }}
                </div>
                <div class="text-sm text-gray-600 mb-2">
                    {{ menu.category }}
                </div>
                <div class="text-sm text-gray-600 mb-4">
                    Price: {{ menu.price }}
                </div>
                <div class="text-sm text-gray-600 mb-4">
                    Restaurant: {{ menu.restaurant_name }}
                </div>
                <div class="text-sm text-gray-600 mb-4">
                    City: {{ menu.city }}
                </div>
                <div class="text-sm text-gray-600 mb-4">
                    Specialized: {{ menu.specialized }}
                </div>
                <div class="text-sm text-gray-600 mb-4">
                    Rating: {{ menu.rating }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="/static/js/ajax_menu.js"></script>
{% endblock script %}
