@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #006442;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer components {
  .h1-style {
    @apply text-5xl font-[900] mb-4;
  }
  
  .h2-style {
    @apply text-4xl font-[500] mb-3;
  }
  
  .sh1-style {
    @apply text-2xl font-[200] mb-2;
  }

  .sh2-style {
    @apply text-xl font-[200] mb-2;
  }
}