@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #006442;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



@layer components {
  .h1-style {
    @apply text-[60px] font-[900] mb-4 text-[#F5F5F5];
  }
  
  .h2-style {
    @apply text-[48px] font-[900] mb-3 text-[#F5F5F5];
  }

  .h3-style {
    @apply text-[36px] font-[900] mb-3 text-[#F5F5F5];
  }
  
  .h4-style {
    @apply text-[30px] font-[900] mb-3 text-[#F5F5F5];
  }

  .s1-style {
    @apply text-[52px] font-[500] mb-2 text-[#F5F5F5];
  }

  .s2-style {
    @apply text-[44px] font-[500] mb-2 text-[#F5F5F5];
  }

  .s3-style {
    @apply text-[36px] font-[500] mb-2 text-[#F5F5F5];
  }

  .s4-style {
    @apply text-[30px] font-[500] mb-2 text-[#F5F5F5];
  }

  .s5-style {
    @apply text-[24px] font-[500] mb-2 text-[#F5F5F5];
  }

  .p1-style {
    @apply text-[48px] font-[200] mb-2 text-[#F5F5F5];
  }

  .p2-style {
    @apply text-[24px] font-[200] mb-2 text-[#F5F5F5];
  }

  .p3-style {
    @apply text-[30px] font-[200] mb-2 text-[#F5F5F5];
  }

  .p4-style {
    @apply text-[24px] font-[200] mb-2 text-[#F5F5F5];
  }

  .p5-style {
    @apply text-[20px] font-[200] mb-2 text-[#F5F5F5];
  }
}