{% extends "base.html" %}
{% include 'navbar.html' %}
{% load static %}

{% block meta %}
    <title>Menu Steak</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock meta %}

{% block content %}
<div class="flex container items-center align-center mx-auto flex-col" style="padding-top: 50px;"> 
    <!-- <div class="filter-box">
        <form id="filterForm" class="filter-form" method="GET" onsubmit="submitFilterForm()">
            {{ form.as_p }}
            <button type="submit" class="filter-btn">Filter</button>
        </form>            
    </div> -->
    <h1 class="text-[52px] text-4xl font-reguler text-[#F5F5DC] text-center mt-8 mb-8">
      Ingin<span class="italic"> review</span> menu apa?
    </h1>    
    <div class="grid grid-cols-2 md:grid-cols-5 gap-4 px-4 md:px-0">
    {% for menu in menus %}
        <div class="max-w-md rounded overflow-hidden shadow-lg bg-[#F5F5DC] relative border">
            <div class="relative">
                <img class="w-full h-64 object-cover" src="{{ menu.image }}" alt="{{ menu.menu }}">
            </div>
            <div class="px-4 md:px-6 py-4">
                <div class="text-xl text-[#5B3E39] font-bold mb-2" style="font-family: 'Playfair Display', serif;">
                    {{ menu.menu }}
                </div>                
                <div class="text-sm text-gray-600 mb-2">
                    {{ menu.restaurant_name }}
                </div>
                <button data-modal-target="crudModal" data-modal-toggle="crudModal"
                    class="btn bg-[#F7B32B] hover:bg-[#F7A52B] text-white font-reguler py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                    onclick="showModal();">
                    Tambah Review
                 </button>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="/static/js/ajax_menu.js">

async function refreshReviewEntries() {
    document.getElementById("review_entry_cards").innerHTML = "";
    document.getElementById("review_entry_cards").className = "";
    const reviewEntries = await getReviewEntries();
    let htmlString = "";
    let classNameString = "";

    if (reviewEntries.length === 0) {
      classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
      htmlString = `
            <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
                <p class="text-center text-gray-600 mt-4">Belum ada data product pada mental health tracker.</p>
            </div>
        `;
    }
    else {
      classNameString = "columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full"
      reviewEntries.forEach((item) => {
        const menu = DOMPurify.sanitize(item.fields.menu);
        const place = DOMPurify.sanitize(item.fields.place);
        console.log(item);
        
        htmlString += `
            <div class="relative bg-[#F5F5DC] shadow-lg rounded-lg overflow-hidden mb-6">
            <!-- Product Details -->
            <div class="p-4">
                <!-- Product Name -->
                <h3 class="font-bold text-xl text-[#5B3E39] mb-2">${item.fields.menu}</h3>
                
                <!-- Product Price -->
                <div class="flex items-center space-x-2 mb-2">
                <p class="text-xl font-semibold text-indigo-600">${item.fields.place},</p>
                </div>
                
                <!-- Product Description -->
                <p class="text-gray-600 mb-4">${item.fields.description}</p>
            </div>
            </div>`

      });
    }
    document.getElementById("review_entry_cards").className = classNameString;
    document.getElementById("review_entry_cards").innerHTML = htmlString;
  }
  refreshReviewEntries();

  const modal = document.getElementById('crudModal');
  const modalContent = document.getElementById('crudModalContent');

  function showModal() {
    console.log("HELLO");

    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    modal.classList.remove('hidden');
    setTimeout(() => {
      modalContent.classList.remove('opacity-0', 'scale-95');
      modalContent.classList.add('opacity-100', 'scale-100');
    }, 50);
  }

  function hideModal() {
    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    modalContent.classList.remove('opacity-100', 'scale-100');
    modalContent.classList.add('opacity-0', 'scale-95');

    setTimeout(() => {
      modal.classList.add('hidden');
    }, 150);
  }

  document.getElementById("cancelButton").addEventListener("click", hideModal);
  document.getElementById("closeModalBtn").addEventListener("click", hideModal);

  function addReviewEntry() {
    fetch("{% url 'review:create-review-entry-ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#ReviewEntryForm')),
    })
      .then(response => {

        console.log(response);
        refreshReviewEntries()
        console.log("AKOWKOWKOWOK");
      }).catch(e => {
        console.log(e);
      })

    document.getElementById("ReviewEntryForm").reset();
    document.querySelector("[data-modal-toggle='crudModal']").click();

    return false;
  }
  document.getElementById("ReviewEntryForm").addEventListener("submit", (e) => {
    e.preventDefault();
    addReviewEntry();
  })
    
</script>


{% endblock script %}
