{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid form-section">
    <div class="row w-100">
        <div class="col-lg-6 side-image"></div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div class="login">
                <h1 class="mb-4">Welcome to SetakSetik</h1>
                <p>Makan apa hari ini?</p>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <input type="submit" class="btn btn-block" value="Login" />
                </form>
                {% if messages %}
                <ul class="mt-3">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p class="mt-3">Don't have an account yet? <a href="{% url 'main:register' %}" style="color: #A69890;">Register Now</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}